@import './Vars.scss';

.Footer__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $mainColor;
    color: #FFFF;
    padding: 2rem 3rem;
}

.Footer__socialIcons {
    color: #FFFF;
    margin-right: 0.333em;
  }