@import './Vars.scss';

.Header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2f2;

    img {
        padding: 1rem;
        margin: 0;
        width: 18%;
    }

    .Header__userOptions {
        display: flex;

        div {
            margin: 0 3rem;
            a {
                text-decoration: none;
                color: $navtextColor;
            }
        }
    }
  
 
}

.Header__userLogin {
    margin: 0 3rem;
    
    
        a {

            text-decoration: none;
            color: $navtextColor;
        }
    
}

.Header__CerraSesion {
    display: none;
    margin: 0px 0px 0px 30px;
	padding: 0px;
	position: absolute;
	width: 100px;
	text-align: right;
    
    a {
        color: $navtextColor;
        text-decoration: none;
    }
}

.Header__userLogin:hover .Header__CerraSesion, .Header__CerraSesion:hover  {
    display: block;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .Header__container {
     display: flex; 

     img {
        margin: 0;
        width: 100%;
    }
    }
  }
